<header>    
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="assets/IMG/logo_argprograma_recortado.png" width="110"/></a>
        <!-- HOME-->
        <button type="button" class="btn btn-dark"><i class="bi bi-house-door" style="font-size: 1.5em;color:rgb(233, 171, 36);"></i></button>
        <!-- SOBRE MI -->
        <button type="button" class="btn btn-dark"><i class="bi bi-person" style="font-size: 1.5em;color:rgb(187, 34, 201);"></i></button>
        <!-- PROYECTOS -->
        <button type="button"  class="btn btn-dark"><i class="bi bi-code-square" style="font-size: 1.5em;color:rgb(34, 201, 78);"></i></button>
        <!-- CONTACTO -->
        <button type="button"  class="btn btn-dark"><i class="bi bi-envelope" style="font-size: 1.5em;color:rgb(34, 190, 201);"></i></button>
        <!--LINKED IN -->
        <button type="button"  class="btn btn-dark"><i class="bi bi-linkedin" style="font-size: 1.5em;color:rgb(10, 102, 194) ; "></i></button>
        <!-- GITHUB -->
        <button type="button"  class="btn btn-dark"><i class="bi bi-github" style="font-size: 1.5em;"></i></button>
        <!-- LOGIN -->
        <button type="button"  class="btn btn-dark">Login</button>
        </nav>  
        
        <!-- BANNER -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col">
                    <div class="img1"><img src="assets/IMG/Fingershot-21.jpg" alt=""></div>
                    
                    <div class="edit-profile d-flex justify-content-center"><a href=""><i class="bi bi-pencil-square"></i></a></div> 
                </div>
            </div>
        </div>
    </div> 

</header>
