<div class="container">
    <h2>Habilidades</h2>
    <div class="row ">
       <!--FRON END-->            
      <div class="col-md-4  "> 
        
          <div class="d-flex justify-content-between">
              <h3>Front End</h3>
  
              <a href=""><i class="bi bi-plus-square"></i></a>
              
          </div>
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Html</h5>
              </div>
              <div class="d-flex justify-content-end">
                  <a href=""><i class="bi bi-pencil"></i></a>
                  <a href=""><i class="bi bi-trash"></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div> 
  
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Css</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil"></i></a>
                <a href=""><i class="bi bi-trash"></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div> 
  
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Bootstrap</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil"></i></a>
                <a href=""><i class="bi bi-trash"></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div> 
  
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Angular</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil" ></i></a>
                <a href=""><i class="bi bi-trash" ></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div> 
  
          
          
          
          
      </div>
        <!--BACK END-->
      <div class="col-md-4  "> 
        
          <div class="d-flex justify-content-between">
              <h3>Back End</h3>
              <a href=""><i class="bi bi-plus-square"></i></a>
          </div>
  
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Java</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil"></i></a>
                <a href=""><i class="bi bi-trash"></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>MySql</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil"></i></a>
                <a href=""><i class="bi bi-trash"></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
         
      </div>
      <!--SOFT SKILLS END-->
      <div class="col-md-4  "> 
          <div class="d-flex justify-content-between">
              <h3>Soft Skils</h3>
              <a href=""><i class="bi bi-plus-square"></i></a>
          </div>
  
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Trabajo en Equipo</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil"></i></a>
                <a href=""><i class="bi bi-trash"></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
  
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Compromiso</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil" ></i></a>
                <a href=""><i class="bi bi-trash" ></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <h5>Empatia</h5>
              </div>
              <div class="d-flex justify-content-end">
                <a href=""><i class="bi bi-pencil"></i></a>
                <a href=""><i class="bi bi-trash"></i></a>
              </div>       
          </div>         
          <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
          
          
      </div>
  
  
  
  </div>
  
    
  </div>
